# hubs/
# datasets/
# __pycache__/
# .pre-commit-config.yaml
# .vscode/
# .gitignore
# .dockerignore
# dockerfile
# LICENSE
# logs/
# *.log
example_code/
samples/
.dockerignore
docker-compose.yaml
dockerfile

logs/
*.log

